/* Style of the whole page*/
body {
  font-family: Arial, Helvetica, sans-serif; /*clean text*/
  background-color: white; /*white background*/
  margin: 0;
  padding: 20px;
  text-align: center;
}
  /* Style for big title*/
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  /* style for section titles*/
  h2 {
    font-size: 26px;
    margin-top: 20px;
  }
/* line under title*/
topic {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
}
/*Abstract paragraph*/
abstract {
  font-size: 18px;
  max-width: 800px;     /* paragraph is not too wide*/
  margin:10px auto;     /* centers the block*/
  line-height:1.5;      
  text-align: left;     /* easier to read*/
}
    /* Center of Image*/
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      width: 80%;
      max-width: 900px;
      
      
    }
/* Container for history / modern / future */
sections {
  display: flex;      /* puts definitions in orderly row*/
  justify-content: center;       /* centers the row */
  gap: 75px;                     /* space between each word*/
  margin-top: 25px;
}
/* Each column*/
section-box {
  text-align: center;
}
/* link under each column*/  
section-box a {
  text-decoration: none;
  color:blue;
  font-size:16px;
}
/* "Students:" label*/
students-title {
  margin-top: 40px;
  font-size:22px;
  font-weight:bold;
}
/* Names under "Students"*/
students-list {
  font-size:18px;
  margin-top:10px;
  line-height:1.6;
}
/* Modern Page Image*/
modern-img {
  width: 300px;
  display:block;
  margin: 20px auto;
}
/* Main content for modern page*/
content {
  width: 80%
  margin:auto;
  text-alighn:left;
  line-height: 1.5;
  font-size: 18px;
}
ol {
  margin-top: 15px;
}
h3 {
  margin-top:30px;
}
  
  
    
  
