body {

    background-image:url("arcade-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    color: white;
    font-family: Arial, sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 20px;
}

/* Makes all headings and paragraphs white */
h1, h2, h3, p {
    color: white;
}
/* Main image formatting */

.main-photo {
    width: 95%;
    max-width: 1200px;
    display: block;
    margin: 30px auto;
}

/* Row for History / Modern / Future */

.sections-row {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

/* Each column */

.section-box {

    flex: 1;
    text-align: center;
}

/* Section links */

.section-box a {

    color: white;
    text-decoration: none;
    font-size: 18px;
}

.section-box a:hover {

    text-decoration: underline;
}

/* Students header */

.students-title {

    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
}

/* Student list items */

.students-list {

    font-size: 18px;
    margin: 5px 0;
}
