/* Style of the whole page*/
body {
  font-family: Arial, Helvetica, sans-serif; /*clean text*/
  background-color: white; /*white background*/
  margin: 0;
  padding: 20px;
  text-align: center;
}
  /* Style for big title*/
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  /* style for section titles*/
  h2 {
    font-size: 26px;
    margin-top: 20px;
  }
/* line under title*/
topic {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
}
/*Abstract paragraph*/
abstract {
  font-size: 18px;
  max-width: 800px;     /* paragraph is not too wide*/
  margin:10px auto;     /* centers the block*/
  line-height:1.5;      
  text-align: left;     /* easier to read*/
}
    /* Center of Image*/
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      width: 80%;
      max-width: 900px;
      
      
    }
/* Container for history / modern / future */
sections {
  display: flex;      /* puts definitions in orderly row*/
  justify-content: center;       /* centers the row */
  gap: 75px;                     /* space between each word*/
  margin-top: 25px;
}
    
  
