/* Style of the whole page*/
body {
  font-family: Arial, Helvetica, sans-serif; /*clean text*/
  background-color: white; /*white background*/
  margin: 0;
  padding: 20px;
  text-align: center;
}
  /* Style for big title*/
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  /* style for section titles*/
  h2 {
    font-size: 26px;
    margin-top: 20px;
  }
    /* Center of Image*/
    img {
      display: Block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
/* Container for history / modern / future */
sections {
  display: flex;      /* puts definitions in orderly row*/
  justify-content: center;       /* centers the row */
  gap: 40px;                     /* space between each word*/
  margin-top: 20px;
}
    
  
