body {
    background-image: linear-gradient(
                              rgba(0,0,0,0.90),
                              rgba(0,0,0,0.90)
                              ),url("arcade-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 20px;
}

/* Makes all headings and paragraphs white */
h1, h2, h3, p {
    color: white;
}
/* Main image formatting */
.main-photo {
    width: 95%;
    max-width: 1200px;
    display: block;
    margin: 30px auto;
}

/* Row for History / Modern / Future */
.sections-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

/* Each column */
.section-box {
    flex: 1;
    text-align: center;
}

/* Section links */
.section-box a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.section-box a:hover {
    text-decoration: underline;
}

/* Students header */
.students-title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
}

/* Student list items */
.students-list {
    font-size: 28px;
    margin: 5px 0;
}

/* Modern Page Layout (Jimmy Maldonado)*/
.content {
    max-width :1100px;
    margin: 0 auto;
    padding: 20px 30px;
    text-align: left;
    background: rgba (0,0,0,0.55);
    border-radius: 12px;
}
.content h1 {
    text-align: center;
    margin-top:20px;
}
/*Image and paragrapgh side by side*/
.intro-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
/*Modern page picture*/
.intro-row img {
    width: 400px;
    height: auto;
}
/* Paragraph next to image*/
.intro-text {
    text-align: left;
}
/* Numbered list under intro*/
ol {
    margin-top: 25px;
    text-align: left;
}

ol li {
    margin-bottom: 35px;
    line-height: 1.6;
    text-align:left;
    font-size: 25px;
}
/* Reference text*/
h3 {
    margin-top: 30px;
}
