/* Style of the whole page*/
body {
  font-family: Arial, Helvetica, sans-serif; /*clean text*/
  background-color: white; /*white background*/
  margin: 0;
  padding: 20px;
  text-align: center;
}
  /* Style for big title*/
  h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
  /* style for section titles*/
  h2 {
    font-size: 35px;
    margin-top: 25px;
  }
/* line under title*/
topic {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}
/*Abstract paragraph*/
abstract {
  font-size: 20px;
  max-width: 800px;     /* paragraph is not too wide*/
  margin:10px auto;     /* centers the block*/
  line-height:1.5;      
  text-align: left;     /* easier to read*/
}
    /* Center of Image*/
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 22px; 
    }
.main-photo {
  width: 95%;
  max-width: 1200px;
  margin: 30 px auto;
}
/* Container for history / modern / future */
.sections-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
/* Each column*/
.section-box {
  flex: 1;
  text-align: center;
}
/* link under each column*/  
.section-box a {
  text-decoration: none;
  color:blue;
  font-size:20px;
}
/* "Students:" label*/
.students-title {
  margin-top: 40px;
  font-size:24px;
  font-weight:bold;
}
/* Names under "Students"*/
.students-list {
  font-size:20px;
  margin-top:10px;
  line-height:1.8;
}
/* Modern Page Image*/
.modern-img {
  display: block;
  margin: 20px auto;
  width: 400px;
  max-width:100%;
}
/* Main content for modern page*/
.content {
  width: 80%
    max-width: 900px;
  margin: 10px auto 40px auto;
  text-align:left;
  line-height: 1.5;
  font-size: 18px;
}
.content ol {
  margin-top: 15px;
}
.content h3 {
  margin-top:40px;
}

  
  
    
  
